<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="5.0">
	<context-param>
		<param-name>dbName</param-name>
		<param-value>oracle</param-value>
	</context-param>
	<context-param>
		<param-name>dbPwd</param-name>
		<param-value>1234</param-value>
	</context-param>
	<servlet>
		<description></description>
		<display-name>ServletConEx</display-name>
		<servlet-name>ServletConEx</servlet-name>
		<servlet-class></servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletConEx</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>

	<display-name>jsp_8_1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ContextParamEx</display-name>
		<servlet-name>ContextParamEx</servlet-name>
		<servlet-class>ContextParamEx</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContextParamEx</servlet-name>
		<url-pattern>/ContextParamEx</url-pattern>
	</servlet-mapping>
</web-app>